--EXEC [dbo].[GetDashboardReports] 2CREATE PROCEDURE [dbo].[GetDashboardReports](	@doctorId int=0,	@month int = 0)ASBEGIN	DECLARE @TotalPatient INT=0;	DECLARE @TotalPrescription INT=0;	DECLARE @TotalTreatmentCharge FLOAT=0.0;	DECLARE @TotalPaidAmount FLOAT=0.0;	DECLARE @TotalDueAmount FLOAT=0.0;	DECLARE @TodayTotalAppointment INT=0;	DECLARE @TodayTotalPrescription INT=0;	DECLARE @TodayTotalNewPatient INT=0;	DECLARE @TodayTotalTreatmentCharge FLOAT=0.0;	DECLARE @TodayTotalPaidAmount FLOAT=0.0;	DECLARE @TodayTotalDueAmount FLOAT=0.0;	DECLARE @CurrentMonthPaid FLOAT = 0.0;	DECLARE @CurrentMonthDue FLOAT = 0.0;	SELECT @TotalPatient=COUNT(DISTINCT(p.PatientId)), @TotalPrescription=COUNT(p.Id) FROM Prescriptions p 	WHERE p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)			SELECT @TotalTreatmentCharge=SUM(p.TotalCharge), @TotalPaidAmount=SUM(p.TotalPaid), @TotalDueAmount=SUM(p.TotalDue) FROM Patients p 	WHERE p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)	SELECT @TodayTotalAppointment= COUNT(p.NextAppointmentDate) FROM Prescriptions p 	WHERE CAST(p.NextAppointmentDate AS DATE)=CAST(GETDATE() AS DATE)	AND p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)	SELECT @TodayTotalPrescription=COUNT(p.Id) FROM Prescriptions p 	WHERE CAST(p.CreatedDate AS DATE)=CAST(GETDATE() AS DATE)	AND p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)	SELECT @TodayTotalNewPatient=COUNT(p.Id) FROM Patients p 	WHERE CAST(p.CreatedDate AS DATE)=CAST(GETDATE() AS DATE)	AND p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)	SELECT @TodayTotalTreatmentCharge=SUM(ISNULL(p.TotalCharge,0)),	@TodayTotalPaidAmount=SUM(ISNULL(p.TotalPaid,0.0)),	@TodayTotalDueAmount=SUM(ISNULL(p.TotalDue,0.0)) FROM Patients p 	WHERE CAST(p.CreatedDate AS DATE)=CAST(GETDATE() AS DATE)	AND p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)	SELECT @CurrentMonthPaid = SUM(ISNULL(p.TotalPaid, 0.0)),	@CurrentMonthDue = SUM(ISNULL(p.TotalDue,0.0)) FROM Patients p	WHERE MONTH(p.CreatedDate)= IIF(@month = 0, MONTH(p.CreatedDate), @month)	AND p.DoctorId=IIF(@doctorId=0, p.DoctorId, @doctorId)	SELECT CAST(ISNULL(@TotalPatient,0) AS INT) AS TotalPatient, 			CAST(ISNULL(@TotalPrescription,0) AS INT) AS TotalPrescription, 			CAST(ISNULL(@TotalTreatmentCharge,0) AS float) AS TotalTreatmentCharge, 			CAST(ISNULL(@TotalPaidAmount,0) AS float) AS TotalPaidAmount,  			CAST(ISNULL(@TotalDueAmount,0) AS float) AS TotalDueAmount, 			CAST(ISNULL(@TodayTotalAppointment,0) AS INT) AS TodayTotalAppointment, 			CAST(ISNULL(@TodayTotalPrescription,0) AS INT) AS TodayTotalPrescription, 			CAST(ISNULL(@TodayTotalNewPatient,0) AS INT) AS TodayTotalNewPatient, 			CAST(ISNULL(@TodayTotalTreatmentCharge,0) AS float) AS TodayTotalTreatmentCharge, 			CAST(ISNULL(@TodayTotalPaidAmount,0) AS float) AS TodayTotalPaidAmount, 			CAST(ISNULL(@TodayTotalDueAmount,0) AS float)  AS TodayTotalDueAmount,			CAST(ISNULL(@CurrentMonthPaid, 0) AS float) AS CurrentMonthPaid,			CAST(ISNULL(@CurrentMonthDue, 0) AS float) AS CurrentMonthDueEND