
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="Disease-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-example-wrap">
                    <h1>UnAuthorized</h1>
                </div>
            </div>
        </div>
    </div>
</div>
