@model EPrescribing.Web.Models.FooterContent
@{ 
    Layout = null;
}

<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-copy-right">
                    @if (Model != null && !string.IsNullOrEmpty(Model.FooterText))
                    {
                        <p>
                            @Model.FooterText
                        </p>
                    }
                    else
                    {
                        <p>
                            Copyright © @DateTime.Now.Year
                            . All rights reserved. By ODC.
                        </p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
