@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="cleanmaster_top col-lg-12 col-md-12 col-sm-12">
            <div class="em-service2 sleft all_color_service">
                <div class="em_service_content">
                    <div class="em_single_service_text">
                        <div class="text_box">
                            <div class="service_top_text all_icon_color">
                                <div class="em-service-icon">
                                    <i class="icofont-license"></i>
                                </div>
                            </div>
                            <div class="em-service-inner">
                                <div class="em-service-title">
                                    <h3>Terms and conditions</h3>
                                </div>
                                <div class="em-service-desc">
                                    <p> 
                                        The Healthcare Professionals who deliver Services through Doctor Dekhao are independent professionals practicing within a group of independently owned professional practices collectively known as <strong>“ODC Professionals”</strong>. 
                                        It does not practice medicine or any other licensed profession, and does not interfere with the practice of medicine or any other licensed profession by Healthcare Professionals, each of whom is responsible for his or her services and compliance with the requirements applicable to his or her profession and license. Neither Doctor Dekhao nor any third parties who promote the Services or provide you with a link to the Services shall be liable for any professional advice you obtain from a Healthcare Professional via the Services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=" col-lg-12">
            <div class="witr_section_title">
                <div class="witr_section_title_inner text-center">
                    <h2>Team Member</h2>
                    <h3>About the Developers</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row cleanmaster_top">
        <div class=" col-lg-4 col-md-6 col-sm-12">
            <div class="team-part all_color_team">
                <div class="witr_team_sec_3">
                    <img src="~/frontassets/images/team-11.jpg" alt="" />
                    <div class="witr_team_content3 text-center all_team_icon_o_color">
                        <h5>Rakibul Islam Biplob</h5>
                        <span>Software Engineer</span>
                        @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>*@
                        <ul class="witr_pots_team_s">
                            <li>
                                <a href="https://www.facebook.com/mrbiplob22"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                                <a href="https://github.com/mrrakib"><i class="fa fa-github" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-social all_team_s_color all_icon_bg_color">
                        <ul class="witr_pots_team_s">
                            <li>
                                <a href="https://www.facebook.com/mrbiplob22"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                                <a href="https://github.com/mrrakib"><i class="fa fa-github" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-12">
            <div class="team-part all_color_team">
                <div class="witr_team_sec_3">
                    <img src="~/frontassets/images/team-22.jpg" alt="" />
                    <div class="witr_team_content3 text-center all_team_icon_o_color">
                        <h5>MD SHOHAG MIA</h5>
                        <span>Software Engineer</span>
                        @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>*@
                        <ul class="witr_pots_team_s">
                            <li>
                                <a href="https://www.facebook.com/shohagcse/"><i class="icofont-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/eshohag/"><i class="icofont-linkedin"></i></a>
                                <a href="https://github.com/eshohag"><i class="fa fa-github" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-social all_team_s_color all_icon_bg_color">
                        <ul class="witr_pots_team_s">
                            <li>
                                <a href="https://www.facebook.com/shohagcse/"><i class="icofont-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/eshohag/"><i class="icofont-linkedin"></i></a>
                                <a href="https://github.com/eshohag"><i class="fa fa-github" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-12">
            <div class="team-part all_color_team">
                <div class="witr_team_sec_3">
                    <img src="~/frontassets/images/team-33.jpg" alt="" />
                    <div class="witr_team_content3 text-center all_team_icon_o_color">
                        <h5>Sujon Parvez</h5>
                        <span>Software Engineer</span>
                        @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>*@
                        <ul class="witr_pots_team_s">
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                                <a href="https://github.com/Sujon03-ds"><i class="fa fa-github" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-social all_team_s_color all_icon_bg_color">
                        <ul class="witr_pots_team_s">
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                                <a href="https://github.com/Sujon03-ds"><i class="fa fa-github" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="cleanmaster_top col-lg-12 col-md-12 col-sm-12">
            <div class="em-service2 sleft all_color_service">
                <div class="em_service_content ">
                    <div class="em_single_service_text">
                        <div class="text_box">
                            <div class="service_top_text all_icon_color">
                                <div class="em-service-icon">
                                    <i class="icofont-phone"></i>

                                </div>
                            </div>
                            <div class="em-service-inner">
                                <div class="em-service-title">
                                    <h3>Send Feedback</h3>
                                </div>
                                <div class="em-service-desc">
                                    <p>+ (88) 01771775944</p>
                                    <p><a href="mailto:eshohag@outlook.com?subject=Feedback from Client">eshohag@outlook.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>